/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F9;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #507CA4;
    color: #fff;
}

/* Style the logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}

/* CSS for the menu */
nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 15px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

/* Dropdown styles */
.dropdown {
    display: none;
}
/* END MENU */

/* Style the Header1 */
h1 {
    margin: 0;
}

/* Style the Container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Style the Service */
.service {
    margin-bottom: 20px;
}

/* Style the Contact Form */
.contact-form {
    border: 1px solid #A3BBD3;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #8492B5;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #507CA4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background-color: #97B4B4;
}

/* Style for MOBILE */
@media screen and (max-width: 767px) {
    /* MAKE MENU DROPDOWN */
    .menu li:not(:last-child) {
        display: none;
    }

    .dropdown {
        display: block;
        position: relative;
    }

    .dropdown .dropbtn {
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* TBD */
}
